In [29]:
import pandas as pd
dataset = pd.read_csv("C:\Users\Rajiv2806\Documents\Resumes\Inkredo Assesement\events_log.csv")
dataset.head()

In [54]:
dataset['time_formatted'] = dataset.timestamp.astype(str)

for i in range(len(dataset)):
    dataset.at[i,'Day'] = dataset.time_formatted.loc[i][7:9] 
    
dataset.head()

,uuid,timestamp,session_id,group,action,checkin,page_id,n_results,result_position,time_formatted,Day
0,00000736167c507e8ec225bd9e71f9e5,2.016030e+13,78245c2c3fba013a,b,searchResultPage,NaN,cbeb66d1bc1f1bc2,5.0,NaN,2.01603011038e+13,01
1,00000c69fe345268935463abbfa5d5b3,2.016031e+13,c559c3be98dca8a4,a,searchResultPage,NaN,eb658e8722aad674,10.0,NaN,2.01603070052e+13,07
2,00003bfdab715ee59077a3670331b787,2.016030e+13,760bf89817ce4b08,a,checkin,30.0,f99a9fc1f7fdd21e,NaN,NaN,2.01603021453e+13,02
3,0000465cd7c35ad2bdeafec953e08c1a,2.016030e+13,fb905603d31b2071,a,checkin,60.0,e5626962a6939a75,NaN,10.0,2.01603022227e+13,02
4,000050cbb4ef5b42b16c4d2cf69e6358,2.016030e+13,c2bf5e5172a892dc,a,checkin,30.0,787dd6a4c371cbf9,NaN,NaN,2.0160302095e+13,02

In [59]:
a_count_search = dataset[(dataset.group == "a" )&(dataset.action == 'searchResultPage')].groupby(['Day'])['uuid'].count()
b_count_search = dataset[(dataset.group == "b" )&(dataset.action == 'searchResultPage')].groupby(['Day'])['uuid'].count()
a_count_visits = dataset[(dataset.group == "a" )&(dataset.action == 'visitPage')].groupby(['Day'])['uuid'].count()
b_count_visits = dataset[(dataset.group == "b" )&(dataset.action == 'visitPage')].groupby(['Day'])['uuid'].count()

In [68]:
Q1_df = pd.DataFrame({'Xa':a_count_search,'Ya':a_count_visits,'Xb':b_count_search,'Yb':b_count_visits})
Q1_df['CTRa'] = Q1_df['Xa']/Q1_df['Ya']
Q1_df['CTRb'] = Q1_df['Xb']/Q1_df['Yb']

        Xa    Xb    Ya    Yb      CTRa      CTRb
Day
01   12582  5792  5925   729  2.123544  7.945130
02   13209  5693  5932   760  2.226736  7.490789
03   13280  5879  5775   799  2.299567  7.357947
04   11298  5377  3381   913  3.341615  5.889376
05    8612  4592  2513   810  3.426980  5.669136
06    9469  5143  2901   857  3.264047  6.001167
07   12699  6312  3610  1104  3.517729  5.717391
08   10907  5390  3228   870  3.378872  6.195402